{% extends 'main.html'%} {% block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>App 2</title>
    </head>
    <body>
        <h1>This is a temporary webpage.</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            porro aliquam numquam animi, molestiae eveniet voluptas dolorum
            doloribus excepturi ut hic amet quas nisi atque odit reiciendis,
            eligendi, saepe praesentium.
        </p>

        <div class="links">
            <a href="add/">Add Numbers</a>
        </div>
    </body>
</html>

{% endblock%}
